<h1>incoming friend requests</h1>
<% @incoming.each do |incoming_friend_request| %>
  <li><%= incoming_friend_request. %>
<% end %>

<h1>outgoing friend requests</h1>

<% @outgoing.each do |outgoing_friend_request| %>
  <li><%= outgoing_friend_request. %>
<% end %>
